 <!DOCTYPE html>
 <html lang="en">
 <head>
   <title>Home Page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <body>
 

<h1>Hii <%= user.name%></h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="pull-right btn btn-danger" href="/user/logout">Logout</a>
        </div>
    </div>
</div>

<br>
<br>
<table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Image</th>
          <th>Action</th>         
           <th>Verified</th>




        </tr>
      </thead>
       <tbody>
    <tr>
        
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><img src="user_Images/<%= user.image %>" width="100" height="80" alt="<%= user.image %>" ></td>
        <td><a class="btn btn-warning" href="/user/edit?id=<%= user._id %>">Edit</a>
        </td>

        <td>
            <%
            if(user.is_varified === 0)
            {
                %>
                <p  style="color:green ;">Verified Email</p>
                <%

            }
            
            %>
        </td>

    </tr>
    
</tbody>
</table>



<% include('../layouts/footer.ejs') %>

